:root {
    --linkColor: #004959 !important;
    --linkHoverColor: #46b1e7 !important;
    --delay: all 0.2s ease-out;
    --text-color: #004959 !important;
    --borderColor: #afc5ca;
    --primary-bg: #fffbf2;
    --secondery-color: #fbb722;
    --btn-color: #fbb722;
    --placeholder-color: #7a9fa8;
    --input-color: #cbd8dc;
    --nav-active: #fbb722 !important;
    --footer-active: #fde2a7 !important;
    --hr-color: #9fb9c0;
}

/*
 ===== Bars ======
*/

.bar-1,
.bar-2,
.bar-3 {
    width: 23px;
    height: 3px;
    background: var(--text-color);
    display: block;
    transition: var(--delay);
    margin-bottom: 4px;
    border-radius: 4px;
}

.changed .bar-1 {
    transform: rotate(-45deg) translate(-3px, 5px);
}

.changed .bar-2 {
    display: none;
}


.changed .bar-3 {
    transform: rotate(45deg) translate(0px, -2px);
}


img {
    object-fit: cover;
}

a {
    text-decoration: none !important;
}

p {
    margin: 0 !important;
}

h2 {
    margin: 0;
}

button:focus {
    outline: none;
}

.navbar {
    padding: .5rem 0 !important;
}

/*
=======Login Page=======*/

.lg-line {
    background: var(--btn-color);
    height: 1px;
}

.header-line {
    background: var(--btn-color);
    height: 1px;
}

.page-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
}

.reg-details {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}

.cm-btn {
    padding: 5px 44px;
    outline: none;
    border: none;
    background: var(--btn-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 12px;
    letter-spacing: .4px;
    transition: var(--delay);
}

.cm-btn:hover {
    background-color: var(--linkHoverColor);
}

.breadcum p {
    color: #7a9fa8;
    font-size: 15px;
}


.breadcum a {
    position: relative;
    font-size: 14px;
    color: var(--text-color);
    margin-right: 17px;
    font-weight: 500;
    text-decoration: underline !important;
}

.breadcum a::after {
    content: '>';
    position: absolute;
}

.breadcum a:last-child::after {
    content: '';
}

/*
====== Scroll Top=======
*/

.scroll-top {
    position: fixed;
    bottom: 2%;
    right: 5%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
    color: #fff;
    border-radius: 28px;
    display: none;
    font-size: 26px;
    font-weight: 700;
    transition: var(--delay);
}


.scroll-top:hover {
    background: var(--linkHoverColor);
    color: #fff
}

.nav-active {
    color: var(--nav-active);
}

.active {
    color: var(--footer-active) !important;
}

.hr-color {
    background: var(--hr-color);
}

.head-line {
    margin-bottom: 0 !important;
    /* margin-top: 0 !important; */
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    border: 2px solid var(--input-color);
    outline: none;
    color: #888;
    font-size: 15px;
    font-weight: 400;
}

input::placeholder {
    color: var(--placeholder-color);
}

