img {
    object-fit: cover;
}

a {
    text-decoration: none !important;
}

p {
    margin: 0 !important;
}

h2 {
    margin: 0;
}

button:focus{
    outline: none;
}

.navbar{
  padding: .5rem 0 !important;
}