@media screen and (min-width: 1300px) {
    .container{
        max-width: 1440px !important;
    }
}

@media screen and (max-width: 1024px) {
    .desktop-v {
        justify-content: center !important;
    }

    .contact-option-list {
        width: 55% !important;
    }

    .process-step {
        width: 100% !important;
        flex: 1 !important;
    }

    .process-step div p {
        width: 65% !important;
    }

    .payment-gateway img {
        height: 23px !important;

}


@media screen and (min-width: 769px) {
    .mobile-v {
        display: none !important;
    }
}

@media screen and (max-width: 992px) {
    .login-section form {
        width: 100% !important;
    }

    .lg-option-title {
        font-size: 20px !important;
    }

    .reg-head {
        padding: 0rem 0 2rem !important;
    }

    .contact-option-list {
        width: 100% !important;
        flex-direction: column !important;
    }

    .ordner-list {
        flex-direction: column !important;
    }

    .ordner-content {
        width: 100% !important;
    }

    .ordner-thumb {
        width: 100% !important;
    }

    .ordner-list {
        padding-left: 0 !important;
    }

    .ordner-thumb img {
        height: unset !important;
    }
}


@media screen and (max-width: 768px) {
    .desktop-v {
        display: none !important;
    }

    .mobile-v {
        display: flex !important;
    }

    .hero-overlay-box {
        margin: auto !important;
    }

    .product {
        margin: 0 auto 15px !important;
    }

    .pets-row {
        grid-template-columns: 1fr 1fr !important;
    }

    .pet-help-row img {
        width: 100% !important;
    }

    .pet-help-row {
        flex-direction: column !important;
    }

    .help-box {
        width: 100% !important;
        margin-top: 1rem !important;
    }

    .help-btn {
        width: 80% !important;
    }

    .client-testmonial {
        margin: auto !important;
    }

    .footer-logo {
        width: 70% !important;
    }

    footer {
        text-align: center !important;
    }

    .footer-menu {
        margin: 1rem 0 !important;
    }

    .copytext {
        text-align: center !important;
        margin: 1rem 2rem 0 !important;
    }

    .guarantee-liflet {
        right: 0 !important;
    }

    .footer-nav {
        width: 100% !important;
    }

    .rows {
        flex-direction: column !important;
    }

    .newsletter {
        width: 100% !important;
        margin-bottom: 1rem !important;
    }

    .log-register-wrapper {
        flex-direction: column !important;
    }

    .lg-bg {
        width: 100% !important;
    }

    .login-section {
        margin-bottom: 1rem;
    }

    .lg-wrapper {
        max-width: 100% !important;
    }

    .lg-wrapper::before {
        width: 100% !important;
        top: 33px !important;
        height: 41% !important;
    }

    .reg-inner::after {
        top: 55% !important;
        width: 100% !important;
    }

    .reg-inner {
        padding: 0 !important;
    }

    .reg-head {
        padding: 1rem 0 2rem !important;
    }

    .payment-gateway img {

        max-width: 100%;
    }

    .payment-gateway {
        grid-template-columns: repeat(3, auto) !important;
        grid-gap: 20px !important;
        justify-content: space-between;
    }

    .contact-option h2 {
        font-size: 18px !important;
    }


}

@media screen and (max-width: 767px) {

    .abo-subscription-process {
        display: flex;
    }

    .desktop-subscription-process {
        flex-direction: column;
    }

    .m-step-img {
        display: block !important;
        margin-right: 1rem;
    }

    .m-step-img img {
        height: 145px !important;
    }


    .process-step div img {
        height: 26px !important;
        margin-right: 14px !important;
    }

    .process-content {
        margin-bottom: 31px !important;
    }

    .process-step .img-step {
        display: none !important;
    }

    .partner-logo img {
        width: 100% !important;
        height: 50 !important;

    }

    .uberuns-inner {
        width: 100% !important;
    }

    .uberuns-content p {
        text-align: justify;
    }

    .uberuns-gallery {
        flex-direction: column !important;
    }

    .uberuns-gallery img {
        width: 100% !important;
        height: 250px !important;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .payment-gateway img {
        max-width: 70%;
        height: 23px !important;
    }

    .payment-gateway {
        grid-template-columns: repeat(3, auto) !important;
        grid-gap: 27px !important;
    }

    .faq-topics-wrapper ul {
        margin-bottom: 3.5rem !important;
    }

    .partner-logo img {
        width: 100% !important;
        height: auto !important;
    }


    .shop-wrapper {
        flex-direction: column !important;
    }

    .filter,
    .shop-product {
        width: 100% !important;
    }

    .checkbox {

        grid-template-columns: 1fr 1fr;
    }

    .shop {
        padding: 1rem 0 4rem !important;
    }

    .shop .guarantee-liflet {
        display: none !important;
    }

    .sm-d-none {
        display: none !important;
    }

    .shop-filter {
        padding: 1rem 0 !important;
        background: var(--gray-color);
        margin-bottom: 1rem;
    }

    .filter-btn {
        display: block !important;
    }

    .product {
        width: 100% !important;
    }

    .product-head img {
        width: 100% !important;
    }

    .feature img {
        width: 40px !important;
    }
    .shop .discount {
        top: unset !important;
        bottom: 106px !important;
    }

    .shop .info {
        top: unset !important;
        bottom: 106px !important;
        right: 16px !important;
    }
    
}

    @media screen and (max-width: 414px) {

        .pets-row {
            grid-template-columns: 1fr !important;
        }

        footer {
            text-align: center !important;
        }

        .ordner-content h2 {
            margin-bottom: 10px;
            font-size: 1.1rem;
        }

        .h2-style {
            font-size: 17px !important;
        }

    
    }