/* @media screen and (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
} */

@media screen and (max-width: 1199px) {
    .product {
        width: 90% !important;
    }

    /*======= cart ========*/
    .cart-archive-right-head {
        flex-direction: column;

    }

    .c-product-feature {
        /* flex-wrap: wrap; */
        margin-right: 0 !important;
        justify-content: flex-end;
    }

    .c-product-feature img {
        height: 32px !important;
        margin-bottom: 6px !important;

    }

    .c-trash-btn {
        margin-left: auto !important;
    }
}

@media screen and (max-width: 1024px) {
    .desktop-v {
        justify-content: center !important;
    }

    .contact-option-list {
        width: 63% !important;
    }

    .process-step {
        width: 100% !important;
        flex: 1 !important;
    }

    .process-step div p {
        width: 65% !important;
    }

    .payment-gateway img {
        height: 23px !important;

    }

    .w-product-feature img {
        height: 36px !important;

    }
}

@media screen and (min-width: 993px) {

    .mobile-main-nav {
        display: none !important;
    }

}

@media screen and (max-width: 991px) {


    /*
==========  mobile-v social link ===========*/
    .m-social-media-links {
        display: block !important;
    }

    .mobile-main-nav button {
        margin-top: 1rem !important;
    }


    .mobile-main-nav .shopping-cart {
        margin-top: 4px !important;
    }

    /* ============ my account page =========== */
    .myaccount {
        display: none !important;
    }

    .mobile-v-myaccount {
        display: block !important;
        padding: 5rem 0 !important;
    }

    /*
    =============== single product page =========*/
    .single-product {
        display: none !important;
    }

    .mobile-v-single-product {
        display: block !important;
    }

    .hero-top-text {
        flex-direction: column;
    }

    .hero-top-text-content {
        align-items: center !important;
    }

    .sm-img {
        display: block !important;
    }

    .top-nav {
        display: none !important;
    }

    .desktop-main-nav {
        display: none !important;
    }

    .mobile-main-nav {
        display: block !important;
        margin-top: 0 !important;
    }

    .mobile-main-nav .navbar {
        /* position: fixed;
        top: 0;
        z-index: 1000; */
        padding: 6px 7% 0 2% !important;
        /* width: 100%;
        background: #fff; */
    }

    .brand-logo {
        margin-bottom: 12px !important;
        width: 200px !important;
    }

    .mobile-main-nav .nav-item {
        padding-left: 5rem;
    }

    .mobile-main-nav .navbar-nav {
        margin-top: 1rem;
    }

    .mobile-main-nav .nav-item {
        padding-left: 38% !important;
        border-bottom: 1px solid #f1f1f1 !important;
    }

    .mobile-hotline-roster {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #8c9ea0;
        font-weight: bold;
        justify-content: CENTER;
    }

    .mobile-hotline-roster a {
        margin: 0 4px;
        text-decoration: underline !important;
        color: #8c9ea0 !important;
    }

    .mobile-hotline-roster p {
        margin-right: 5px !important;
    }

    .mobile-hotline-roster i:last-child {
        margin-left: 5px !important;
        font-weight: bold;
    }

    .breadcum {
        display: none !important;
    }


    /**/
    .login-section form {
        width: 100% !important;
    }

    .lg-option-title {
        font-size: 20px !important;
    }

    .reg-head {
        padding: 0rem 0 2rem !important;
    }

    .contact-option-list {
        width: 100% !important;
        display: flex;
        flex-direction: column !important;
    }

    .ordner-list {
        flex-direction: column !important;
    }

    .ordner-content {
        width: 100% !important;
    }

    .ordner-thumb {
        width: 100% !important;
    }

    .ordner-list {
        padding-left: 0 !important;
    }

    .ordner-thumb img {
        height: unset !important;
    }

    .desktop-main-nav {
        display: block;
    }

    /* ========== cart page ============= */


    .mobile-v-subtotal {
        display: block !important;
        margin-bottom: 2rem !important;
    }

    .desktop-v-subtotal {
        display: none !important;
    }

    .ribon {
        display: none !important;
    }

    .cart-inner {
        flex-direction: column;
    }

    .cart-archive-product-list {
        width: 100% !important;

    }

    .cart-archive-subtotal-section {
        width: 100% !important;

    }

    .product-deliver-cost-info {
        border-top: 1px solid var(--borderColor);
        padding: 2rem 0;
        margin-bottom: 3rem;
    }

    /* ========== Wishlist page ============*/



    .wishlist-product-count-title {
        text-align: center;
    }

    .wishlist-list {
        flex-direction: column !important;
    }

    .wishlist-left,
    .wishlist-right {
        width: 100% !important;
    }

    .mobile-select-option {
        display: flex !important;
    }

    .whislist-inner {
        flex-direction: column;
        width: 70%;
    }

    .wishlist-thumb img {
        height: auto !important;
        width: 100% !important;
    }

    .wishlist-basic-info {
        margin-left: 0 !important;
        margin-top: 1rem;
    }

    .wish-p-selection {
        flex-direction: column;
    }

    .wish-p-s {
        margin-bottom: 10px;
        margin-right: auto !important;
    }

    .w-product-feature {
        margin-left: 7px !important;
    }

    .wish-p-s p {
        margin-left: 0 !important;
    }

    .wishlist-list .select-indicator {
        width: 75px !important;
    }

    .w-archive-p-option {
        display: none !important;
    }

    .w-trash {
        margin: 10px 0 !important;
    }

    .wishlist-right-footer button {
        width: 100% !important;
    }

    .wishlist-basic-info h4 a {
        font-size: 26px !important;
    }

    .w-trash span {
        margin-left: auto !important;
    }

    .m-wish-group {
        display: flex;
    }


    /* ========= Checkout page ======== */

    .checkout-row {
        flex-direction: column-reverse;
        margin-top: 0 !important;
    }

    .checkout-form,
    .checkout-cart-info {
        width: 100% !important;
        margin-top: 2rem;
    }

    .cart-product-list {
        padding: 1rem 1rem !important;
    }

    .cart-product-list p {
        text-align: center;
    }

    .form-step-1-inner {
        width: 100% !important;
    }

    .payment-gateway-method {
        width: 50% !important;
    }

    .mobile-v-pvci {
        display: block !important;
    }

    .bg-light-orange {
        padding: 1rem !important;
    }

    .desktop-v-pvci {
        display: none !important;
    }

    .address-option {
        flex-direction: column;
        align-items: unset !important;
    }


}

@media screen and (min-width: 900px) and (max-width: 1024px) {

   /* ========= cart page ========= */
   .cart-product-section-1 {
    width: 65%;
}
   
    .wishlist-right {
        width: 36% !important;
        align-items: flex-end;
    }

    .single-product-thumb .image-list {
        bottom: -16%;
    }

    .w-archive-price-btn {
        margin-bottom: -3px !important;
    }

    .w-archive-p-option {
        align-items: flex-end;
    }

    .client-testmonial {
        padding: 12px !important;
    }

    footer .rows {
        position: relative;
    }

    .client-testmonial p {
        font-size: 13px !important;
    }

    /* .footer-logo{
        max-width: 90% !important;
    } */

    .footer-menu {
        margin: 0 4rem !important;
    }

    .copytext {
        position: absolute;
        bottom: 0;
        left: 20px;
    }

}

@media screen and (max-width: 800px) {

    /*
    ======= wishlist page ========*/
    .m-v-btn {
        display: block !important;
        border-radius: 9px;
        padding: 5px 16px;
        font-size: 12px;
        color: #fff !important;
        cursor: pointer;
        border: none;
        outline: none;
        letter-spacing: 1px;
        position: ABSOLUTE;
        right: 0;
    }

    .d-v-btn {
        display: none !important;
    }

    .wishlist-basic-info h4 a {
        font-size: 18px !important;
    }

    .wishlist-left .w-price h3 {
        margin-bottom: -18px !important;
    }

    .w-trash {
        margin-top: 20px !important;
    }

    .checkout-title {
        text-align: center !important;

    }

    /*==================*/
    .sm-display-block {
        display: none !important;
    }



    .sm-display-block {
        display: block !important;
    }

    .md-display-none {
        display: none !important;
    }

    .page-title {
        /* text-align: center !important; */
        margin: 30px 0;
    }

    /* .hero-overlay-box {
        margin: auto !important;
    } */
    .overlay-hero {
        margin-top: -2rem !important;
    }


    .product {
        margin: 0 auto 15px !important;
    }

    .shop-product-gallery .product {
        width: 90% !important;
    }

    .pets-row {
        grid-template-columns: 1fr 1fr !important;
    }

    .pet-help-row img {
        width: 100% !important;
    }

    .pet-help-row {
        flex-direction: column !important;
    }

    .help-box {
        width: 100% !important;
        margin-top: 1rem !important;
    }

    .help-btn {
        width: 80% !important;
    }

    .cart-btn-d-block button {
        width: 60% !important;
    }

    .client-testmonial {
        margin: auto !important;
    }


    .partner-logo img {
        height: 21% !important;
        width: 100% !important;
    }

    .payment-gateway img {
        height: 32px !important;
    }

    /*======= myaccount page ========*/
    .accordion-body {
        text-align: center !important;
    }

    /* ========= footer ========= */

    .footer-logo {
        width: 50% !important;
    }

    footer {
        text-align: center !important;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .mobile-footer {
        display: block;
    }

    .footer-desktop-menu {
        border-bottom: unset !important;
        display: none !important;
    }

    .footer-nav-2 {
        margin-top: 0 !important;
    }

    .footer-menu {
        margin: 1rem 0 !important;
        border: none !important;
    }

    .footer-nav {
        width: 100% !important;
    }


    .copytext {
        color: #fff;
        font-size: 14px;
        border-bottom: 3px solid var(--white);
        padding-bottom: 5px;
        padding-left: 0 !important;
        width: 206px;
        margin: 1rem auto !important;
    }

    .guarantee-liflet {
        right: 0 !important;
    }


    .rows {
        flex-direction: column !important;
    }

    .newsletter {
        width: 100% !important;
        margin-bottom: 1rem !important;
    }

    .log-register-wrapper {
        flex-direction: column !important;
    }

    .lg-bg {
        width: 100% !important;
    }

    .login-section {
        margin-bottom: 1rem;
    }

    .lg-wrapper {
        max-width: 100% !important;
        padding-bottom: 3rem;
    }

    .lg-wrapper::before {
        width: 100% !important;
        top: 33px !important;
        height: 41% !important;
    }

    .reg-inner::after {
        top: 55% !important;
        width: 100% !important;
    }

    .reg-inner {
        padding: 0 !important;
    }

    .reg-head {
        padding: 0 0 2rem !important;
    }

    .payment-gateway img {

        max-width: 100%;
    }

    .payment-gateway {
        grid-template-columns: repeat(3, auto) !important;
        grid-gap: 20px !important;
        justify-content: space-between;
    }

    .contact-option h2 {
        font-size: 18px !important;
    }

    /* ====== Product =============*/

    .product {
        width: 90% !important;
    }

    .product-head img {
        width: 100% !important;
    }

    .cart-product-subtotal {
        height: auto !important;
        padding: 1rem !important;
        align-items: unset !important;
    }

    /*===== myaccount page ==========*/

    .activation-btn,
    .subscription-history table tr td button{
        width: 60% !important;
    }

    .subs-tab h3{
        margin-bottom: 1rem !important;
    }


    .password-change-form form button {
        margin-bottom: 1rem;
        width: 60%;
        font-size: 1rem !important;

}

@media screen and (min-width: 801px) {

    .m-social-media-links {
        display: none !important;
    }

    .md-display-none {
        display: block !important;
    }

    .footer-desktop-menu {
        display: flex !important;
    }

    .mobile-footer {
        display: none !important;
    }

    .order-1 {
        order: 3 !important;
    }

    .order-2 {
        order: 2 !important;
    }

    .order-3 {
        order: 1 !important;
    }

    /*
    ========== footer ============*/

}


@media screen and (min-width:767px) and (max-width: 991px) {


    .mobile-main-nav .navbar {
        padding: 6px 5% 0 4% !important;
    }

    .navba
    /*
     ======= partner page ==========
    */

    .partner-logo {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }

    .partner-logo img {
        width: 250px !important;
        height: 100% !important;
        margin-bottom: 0 !important;
    }

    .product-quantity form {
        display: flex;
        justify-content: space-between;
    }

    .m-product-quantity .add-to-cart {
        margin-top: -2rem !important;
        width: unset !important;
        padding: 6px 30px !important;
        font-size: 20px !important;
    }
}


@media screen and (max-width: 767px) {

    body {
        background: var(--gray-color) !important;
    }

    .header {
        background: var(--gray-color) !important;
    }

    .abo-subscription-process {
        display: flex;
    }

    .desktop-subscription-process {
        flex-direction: column;
    }

    .m-step-img {
        display: block !important;
        margin-right: 1rem;
    }

    .m-step-img img {
        height: 145px !important;
    }

    .process-step div img {
        height: 26px !important;
        margin-right: 14px !important;
    }

    .process-content {
        margin-bottom: 31px !important;
    }

    .process-step .img-step {
        display: none !important;
    }

    .partner-logo img {
        width: 100% !important;
        height: 50 !important;

    }

    .uberuns-inner {
        width: 100% !important;
    }

    .uberuns-content p {
        text-align: justify;
    }

    .uberuns-gallery {
        flex-direction: column !important;
    }

    .uberuns-gallery img {
        width: 100% !important;
        height: 250px !important;
        margin-bottom: 1rem;
    }

    /*
    ========== checkout page =========*/
    .m-wish-group {
        flex-direction: column;
    }

    .w-product-feature {
        display: flex;
        flex-direction: column;
    }

    .w-product-feature img {
        height: 50px !important;
        width: 50px;
    }


    /* ========= cart page ========== */

    .page-title {
        text-align: left !important;
        /* padding-left: 1rem; */
        margin: 30px 0;
    }

    .cart-btn-d-block button {
        width: 100% !important;
    }



    .cart-archive-product {
        background: transparent !important;
        padding: 1rem 0 !important;
        border-bottom: 1px solid var(--borderColor);
    }

    .d-cart-product-counter {
        display: none !important;
    }

    .m-cart-product-counter {
        display: block !important;
        text-align: center;
        border-bottom: 1px solid var(--borderColor);
        padding-bottom: 2rem !important;
    }

    .cart-product-section-1 {
        flex-direction: column;
        width: 75% !important;
    }

    .cart-product-details {
        margin-left: 0 !important;
        margin-top: 1rem;
    }

    .cart-product-details h3 {
        width: 100% !important;
    }

    .cart-product-thumb img {
        height: unset !important;
        width: 100% !important;
        position: relative;
    }

    .cart-product-thumb .discount {
        display: block !important;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .cart-product-thumb .info {
        display: block !important;
        position: absolute;
        left: 0;
        top: 0;
    }

    .cart-product-variable {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .cart-product-details p {
        margin-left: 0 !important;
    }

    .cart-indicator {
        margin-left: 0 !important;
        margin-bottom: 8px;
    }

    .d-details-link {
        display: none !important;
    }

    .m-details-link {
        display: block !important;
    }

    .cart-product-section-2 {
        width: 35% !important;
    }

    .cart-archive-right-head {
        margin-left: auto !important;
    }

    .c-product-feature img {
        height: auto !important;
        width: 40% !important;
    }

    .c-trash-btn {
        width: 43px !important;
        height: 34px !important;
        margin-top: 8rem;
    }

    .c-archive-price {
        display: flex;
        /* width: 200px; */
    }

    .c-archive-price p {
        margin-left: auto !important;
    }

    .c-archive-price .product-discount {
        display: none !important;
    }


    /*
    ================ hund page =============
    */
    .shop-wrapper {
        flex-direction: column !important;
    }

    .filter,
    .shop-product {
        width: 100% !important;
    }

    .checkbox {
        grid-template-columns: 1fr 1fr;
    }

    .shop {
        padding: 1rem 0 4rem !important;
    }

    .guarantee-liflet {
        display: none !important;
    }

    .sm-d-none {
        display: none !important;
    }

    .shop-filter {
        padding: 1rem 0 !important;
        margin-bottom: 1rem;
        height: 100px;
        overflow: hidden;
        transition: var(--delay);
    }

    .filter-btn {
        display: block !important;
    }

    .reset-btn {
        width: 100%;
    }

    .product {
        width: 100% !important;
    }

    .product-head img {
        width: 100% !important;
    }

    .feature img {
        width: 40px !important;
    }

    .shop-product {
        margin-left: 0 !important;
    }

    .filter-toggle {
        display: block !important;
    }

    .hund-line {
        display: block !important;
        height: 1px;
        background: var(--borderColor);
        margin: 1rem 0;
        ;
    }

    .m-social-media-links {
        display: block !important;
    }

    .checkout-title {
        text-align: center !important;

    }

    /*======= cart page ===========*/
    .c-product-feature{
        flex-wrap: wrap;
    }


}

@media screen and (min-width:769px) and (max-width: 1920px) {
    .product {
        height: 350px;
    }

    .product-foot {
        position: absolute;
        bottom: 12px;
        width: 100%;
    }

    .cart-option {
        margin-left: auto;
        position: absolute;
        right: 28px;
    }
}

@media screen and (max-width: 500px) {

    /*=========== checkout page ==========*/
    .wishlist-right-head {
        justify-content: unset !important;
    }

    .w-price {
        margin-top: 3rem;
    }

    .w-trash {
        margin-top: 0px !important;
    }


    .badge {
        margin-top: 0 !important;
    }

    /*
   ======== partner page =========*/
    .partner {
        background: #fff;
    }

    /* ====== checkout page =======*/
    .address-option {
        flex-direction: column;
        align-items: unset !important;
    }

    .coupon div {
        flex-direction: column;
    }

    .coupon input {
        width: 100% !important;
        margin-bottom: 1rem !important;
    }

    .coupon-btn {
        width: 100%;
        margin-top: 1rem;
    }

    .btn-checkout-submit {
        max-width: 100% !important;
        display: block;
        text-align: center;
    }

    .page-title {
        /*         text-align:center !important; */
        /* padding-left: 1rem; */
    }

    .h2.page-title {
        margin: 26px 0;
        padding: 30px 0;
    }

    .edit-cart-link {
        padding: 2rem !important;
    }



    /*========== homoe page=============*/

    .hero-top-text {
        position: absolute !important;
        bottom: 0 !important;
        left: 0;
        right: 0;
    }

    .desktop-hero-overlay {
        display: none !important;
    }


    .payment-gateway img {
        max-width: 70%;
        height: 23px !important;
    }

    .payment-gateway {
        grid-template-columns: repeat(3, auto) !important;
        grid-gap: 27px !important;
    }

    .faq-topics-wrapper ul {
        margin-bottom: 3.5rem !important;
    }

    .partner-logo img {
        width: 100% !important;
        height: auto !important;
    }

    .shop-product {
        margin-left: 0 !important;
    }

    .shop-wrapper {
        flex-direction: column !important;
    }

    .filter,
    .shop-product {
        width: 100% !important;
    }

    .checkbox {
        grid-template-columns: 1fr 1fr;
    }

    .shop {
        padding: 1rem 0 4rem !important;
    }

    .guarantee-liflet {
        display: none !important;
    }

    .sm-d-none {
        display: none !important;
    }

    .shop-filter {
        padding: 1rem 0 !important;
        background: transparent;
        margin-bottom: 1rem;
    }

    .filter-btn {
        display: block !important;
    }

    .reset-btn {
        width: 100%;
    }

    .product {
        width: 100% !important;
    }

    .product-head img {
        width: 100% !important;
    }

    .feature img {
        width: 40px !important;
    }


    .hero-mobile-display-block {
        display: block !important;
    }

    .client-testmonial {
        flex-direction: column-reverse;
    }

    .left-task {
        width: 100% !important;
    }

    .right-task {
        margin-left: 0 !important;
        margin-bottom: 1rem;
    }

    .right-task img {
        width: 200px !important;
        height: 200px !important;
    }

    /* ========= cart page =============*/
    .cart-product-details h3 {
        font-size: 17px !important;
    }

}

@media screen and (max-width: 414px) {

    .pets-row {
        grid-template-columns: 1fr !important;
    }

    footer {
        text-align: center !important;
    }

    .ordner-content h2 {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    .h2-style {
        font-size: 17px !important;
    }

    .mobile-main-nav .nav-item {
        padding-left: 23% !important;
    }

}


@media screen and (max-width: 320px) {
    .m-product-quantity .add-to-cart {
        font-size: 21px !important;
    }
}