:root{
    --linkColor: #004959!important;
    --linkHoverColor: #46b1e7!important;
    --delay: all 0.2s ease-out;
    --text-color: #004959 !important;
    --borderColor: #afc5ca;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f5f6;
}

/*
=========Header==========*/

.header{
  
}

/*
=========Top Nav=======*/

.top-nav{
    position: relative;
  box-shadow: 0 2px 1px rgba(225,225,225,.9);
}

.top-nav .nav .nav-link{
 color: var(--linkColor);
 font-weight: 600;
 font-size: 14px;
 transition: all 0.2s ease-out;
}

.top-nav .nav .nav-link:hover{
 color: var(--linkHoverColor);
}

.top-nav .nav .nav-link:first-child{
    letter-spacing: 0.4px;
}

.lang{
    font-weight: 600;
    font-size: 14px;
}

.lang a{
    color: var(--linkColor);
    margin: 0 2px;
}

.lang-de{}

/*
============Top Social-Media-links=========*/

.social-media-links{
    position: absolute;
    right: 10px;
}

.social-links{
    color: var(--linkColor);
    font-size: 17px;
    margin-left: 8px;
    
}

.social-links:hover{
    color: var(--linkHoverColor);
    transition: var(--delay);
}


/*
==========Main Nav========*/

.brand-logo{
    width: 200px;
}
.navbar-brand{
    padding: 0!important;
}

.navbar-nav .nav-link{
    color: var(--linkColor);
    font-size: clamp(1vw, 3vw, 18px);
    font-weight: 600;
    transition: var(--delay);
}

.navbar-nav .nav-link:hover{
    color: var(--linkHoverColor);
}

/*
========Main==========*/

.brand-hero{
    position: relative;
    max-width: 100%;
    max-height: 600px;
    min-height: 500px;
}

.hero-bg{
    width: 100%;
    max-height: 500px;
}


/*
=======Hero top text==========*/

.hero{
    background: url(../img/hero-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    margin-bottom: 0!important;
}

.hero-top-text{
    padding: 10px 0;
    background: #fbb722;
    text-align: center;
    max-width: 100%;
}

.text{
    color: #fff;
    font-weight: 600;
    font-size: clamp(1vw, 3vw, 15px);
}

.badge img{
    max-width: 100px;
    margin-top: -30px; 
}


/*
=====hero overlay box======*/

.hero-overlay-box{
    display: flex;
    align-items: center;
    margin-left: auto;
    background: #f9eddb;
    padding: 2rem 1rem;
    width: 300px;
    flex-direction: column;
    text-align: CENTER;
    opacity: 0.9;
}

.overlay-head{}

.overlay-head h2{
    font-size: clamp(2vw, 5vw, 30px);
    font-weight: 700;
    color: var(--text-color);
}

.overlay-head p{
    color: var(--text-color);
    font-size: 17px;
}

.overlay-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
}

.contents{
    display: flex;
    margin-right: 2rem;
    margin-top: 20px;
    flex-direction: column;
}

.contents span{
    width: 30px;
    height: 30px;
    background: var(--text-color);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.contents span::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 31px;
    background: var(--text-color);
    bottom: 0;
    margin: -30px;
}

.contents span:last-child::after{
    height: 0 !important;
}


.overlay-main{

}

.overlay-main-text-icon{
    display: flex;
    margin-top: 10px;
}

.o-icon{
    margin-right: 1rem;
    font-size: 42px;
    margin-top: -10px;
    color: var(--text-color);
}

.o-text{}

.o-text p{
    color: var(--text-color);
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}

.overlay-btn{
    background: var(--text-color);
    padding: 10px 45px;
    border-radius: 9px;
    cursor: pointer;
    transition: var(--delay);
}

.overlay-btn:hover{
    background: var(--linkHoverColor);
}

.overlay-btn span{
    margin: 0 !important;font-weight: 600;color: #fff;font-size: clamp(1vw, 5vw, 15px);
}

/*
========Product Section========*/

.product-section{background: #fffbf2;margin-top: 0!important;padding: 2rem 0;}

.product-section h2{
    
font-size: 22px;
    
color: var(--text-color);
    
font-weight: 700;
}

.product-gallery{
}

.product{
    position: relative;
    width: 250px;
    background: #fff;
    padding: 1rem;
}

.product-head{
    border-bottom: 2px solid var(--borderColor);
}

.product-head img{
    width: 250px;
}

.wishlist{
    position: absolute;
    left: 7px;
    top: 6px;
    border: 1px solid var(--borderColor);
    padding: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 6px;
    right: 7px;
}

.feature img{width: 40px;margin-bottom: -1px;}

.discount{
    position: absolute;
    left: 13px;
    background: #fbb722;
    color: #fff;
    padding: 0px 10px;
    font-weight: 600;
    top: 244px;
}

.info{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid var(--borderColor);
    text-align: center;
    top: 238px;
    right: 0px;
}

.product-desc{}

.product-desc h4{
    font-size: 1rem;
    margin-top: 8px;
}


.weight{
    margin-top: 15px;
}

.weight span{
    color: var(--text-color);
    font-size: 15px;
    position: relative;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}

.weight span::after{
    content: '';
    position: absolute;
    right: -5px;
    top: 2px;
    width: 1px;
    height: 20px;
    background: var(--text-color);

}

.weight-active{
    font-weight: 700!important; 
    text-decoration: underline;
}

.product-foot{
    display: FLEX;
    align-items: CENTER;
    justify-content: space-between;
}

.price{
    font-size: 15px;
    font-weight: 600;
}

.price del{
    color: var(--text-color);
    font-style: italic;
    margin-right: 7px;
}

.price span{
    color: #fbb722;
}

.cart-option{}

.cart-option form{
    display: flex;
}

form select{
    outline: none;
    border: 1px solid var(--borderColor);
}

.cart-btn{
    outline: none;
    border: none;
    width: 27px;
    height: 28px;
    background: var(--text-color);
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}


/*
========Pets display========*/
.pets-gallery{}

.pets-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.pets-col img{
    width: 100%;
    height: 250px;
    border: 2px solid #004959;
    border-radius: 4px;
    z-index: -1;
}

.pets-col h1{
    text-align: CENTER;
    margin-top: -30px;
    z-index: 1;
}

.pets-col a{padding: 6px 75px;background: #004959;border-radius: 10px;font-size: 20px;color: #fff;}

/*
==========Pets help section=========*/

.pet-help-section{
    background: #fffbf2;
}

.pet-help-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pet-help-row img{width: 50%;}

.help-box {
    padding: 2rem 4rem;
    border: 1px solid var(--borderColor);
    text-align: center;
    margin: auto;
    background: #fff;
    width: 500px;
}

.help-box h2{
    font-size: 30px;
    color: var(--linkColor);
    font-weight: 700;
}

.help-box p{
    margin-top: 3rem!important;
    font-size: 16px;
    font-weight: 700;
    color: #fbb722;
}

.help-btn{display: flex;justify-content: center;padding: 10px 30px;background: #fbb722;width: 50%;/* text-align: center; */margin: auto !important;border-radius: 18px;color: var(--linkColor);font-weight: 700;margin-top: -17px!important;}


/*
=======Testmonial==========*/

.testmonial{
    background: #f4f5f6;
    padding: 1rem 0;
}

.testmonial h2{
    font-size: 22px;
    color: var(--text-color);
    font-weight: 700;
    margin: 1rem 0;
}

.client-testmonial{
    width: 95%;
    max-width: 100%;
    border: 1px solid var(--borderColor);
    padding: 1rem;
    display: FLEX;
    background: #fff;
    align-items: center;
}

.left-task{
    width: 52%;
    font-style: italic;
}

.review{
    font-size: 15px;
    font-style: italic;
    text-align: left;
}

.via{
    margin-top: 10px!important;
    color: #fbb722;
}

.right-task{
    margin-left: auto;
    text-align: center;
}

.right-task img{
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -26px;
}

.name{
    margin-top: 10px!important;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
}

.designation{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}


/*
========Payment Method========*/
.payment-method{
    padding: 2rem 0;
    background: #fff;
}



.payment-gateway{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-gateway img{
    max-width: 85px;
}


/*
=========Footer=========*/

footer{
   background: #004959;
}

.footer-nav-1{}

.footer-navs h3{
    font-size: 21px;
    color: #fff;
}

.footer-navs h3 span{
    color: #fbb722!important;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

.footer-nav-1 a{
    color: #fff!important;
}

.footer-nav-2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footer-nav-2 a{
    color: #fff;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 15px;
    transition: var(--delay);
}

.footer-nav-2 a:hover{
 color:#fde2a7;
}

/*
========Newsletter========*/
.newsletter{
    padding: 1rem;
    background: #206b78;
}

.newsletter h2{
    font-size: 21px;
    font-weight: 700;
    color: #fbb722;
}

.newsletter h4{
    font-size: 15px;
    color: #fbb722;
    margin: 1rem 0;
}

.newsletter form{}

.newsletter form input{
    display: block;
    width: 100%;
    padding: 6px;
    background: transparent;
    outline: none;
    border: 1px solid #fbb722;
    color: #fff;
    border-radius: 2px;
}

.newsletter button{
    margin-top: 10px;
    outline: none;
    border: none;
    padding: 7px;
    width: 100%;
    border-radius: 18px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    background: #fbb722;
    cursor: pointer;
    transition: var(--delay);
}

::placeholder{
    color: #ffffff;
}

.newsletter button:hover{
    background: var(--linkHoverColor);
}

.newsletter p{
    color: #fff;
    font-size: 14px;
}

.newsletter p:first-child{
    margin: 22px 0px 10px!important;
}

.copytext{
    color: #fff;
    font-size: 14px;
    margin: 1rem 2rem 0!important;
}

