:root {
    --linkColor: #004959 !important;
    --linkHoverColor: #46b1e7 !important;
    --delay: all 0.2s ease-out;
    --text-color: #004959 !important;
    --borderColor: #afc5ca;
    --primary-bg: #fffbf2;
    --secondery-color: #fef8e9;
    --placeholder-color: #7a9fa8;
    --input-color: #cbd8dc;
    --gray-color: #f4f5f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}


/*
=========Header==========*/

/*
=========Top Nav=======*/

.top-nav {
    position: relative;
    box-shadow: 0 2px 1px rgba(225, 225, 225, .9);
}

.top-nav .nav .nav-link {
    color: var(--linkColor);
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.top-nav .nav .nav-link:hover {
    color: var(--linkHoverColor);
}

.top-nav .nav .nav-link:first-child {
    letter-spacing: 0.4px;
}

.nav-icon {
    width: 16px;
    height: auto;
    margin-top: -4px;
}

.lang {
    font-weight: 600;
    font-size: 14px;
}

.lang a {
    color: var(--linkColor);
    margin: 0 2px;
}

.lang-de {}


/*=======Dropdown======*/

.popup {
    /* max-width: 100%; */
    width: 400px;
    background: #fffbf2;
    padding: 2rem 2rem;
    position: absolute;
    top: 38px;
    left: 42%;
    z-index: 1000;
    display: none;

}

#dropdown-popup:hover .popup {
    display: block !important;

}

.popup form span {
    display: block;
}

.popup input {
    width: 100%;
    outline: none;
    background: #fff;
    border: 2px solid #7a9fa8;
    margin-bottom: 10px;
    padding: 4px 10px;
    font-size: 15px;
    color: #7a9fa8;
    transition: all 0.2s ease-out;

}

.popup input:hover,
.popup input:focus {
    border: 2px solid #46b1e7;
}

.popup input::placeholder {
    color: #7a9fa8;
}

.required-txt {
    color: #004959;
    font-size: 14px;
    margin-bottom: 7px;
}


.action-btn button {
    outline: none;
    border: none;
    padding: 5px 33px;
    background: #ffc107;
    border-radius: 10px;
    font-weight: 700;
    color: #004959;
    cursor: pointer;
    transition: var(--delay);
}

.action-btn button:hover {
    background: var(--linkHoverColor);
}

.action-btn a {
    color: #004959 !important;
    font-size: 14px;
}

.action-btn a:hover {
    color: var(--linkHoverColor);
}

.popup hr {
    background: #fbb722;
    height: 1px;
}

/*optional-login */
.optional-login {}

.optional-login p {
    font-size: 1rem;
    color: #004959;
    margin-bottom: 8px !important;
    font-weight: 600;
}

.optional-login a {
    transition: var(--delay);
}

.optional-login a:hover {
    color: var(--linkHoverColor);
}

.optional-login span {
    display: flex;
}

.round {
    width: 42px;
    height: 33px;
    padding: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 11px;
    background: #000;
}

.facebook {
    background: #3b5998;
}

.google {
    background: #326cd3;
}

.apple {
    background: #000;
}

.dropdown-foot p {
    font-size: 1rem;
    font-weight: 600;
    color: #004959;
    margin-bottom: 16px !important;
}

.dropdown-foot a {
    padding: 10px 30px;
    background: #004959;
    border-radius: 16px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
}

/*
============Top Social-Media-links=========*/

.social-media-links {
    position: absolute;
    right: 10px;
}

.social-links {
    color: var(--linkColor);
    font-size: 17px;
    margin-left: 8px;
}

.social-links:hover {
    color: var(--linkHoverColor);
    transition: var(--delay);
}


/*
==========Main Nav========*/

.brand-logo {
    width: 200px;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-nav .nav-link {
    color: var(--linkColor);
    font-size: clamp(1vw, 3vw, 17px);
    font-weight: 600;
    transition: var(--delay);
}

.navbar-nav .nav-link:hover {
    color: var(--linkHoverColor);
}


/*
========Main==========*/

.brand-hero {
    position: relative;
    max-width: 100%;
    max-height: 600px;
    min-height: 500px;
}

.hero-bg {
    width: 100%;
    max-height: 500px;
}


/*
=======Hero top text==========*/

.hero {
    background: url(../img/hero-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    margin-bottom: 0 !important;
}

.hero-top-text {
    padding: 3px 0;
    background: #fbb722;
    text-align: center;
    max-width: 100%;
}

.text {
    color: #fff;
    font-weight: 600;
    font-size: clamp(1vw, 3vw, 15px);
}

.badge img {
    max-width: 100px;
    margin-top: -30px;
}


/*
=====hero overlay box======*/

.hero-overlay-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    background: #f9eddb;
    padding: 2rem 1rem;
    width: 300px;
    flex-direction: column;
    text-align: CENTER;
    opacity: 0.9;
}

.overlay-head {}

.overlay-head h2 {
    font-size: clamp(2vw, 5vw, 30px);
    font-weight: 700;
    color: var(--text-color);
}

.overlay-head p {
    color: var(--text-color);
    font-size: 17px;
}

.overlay-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
}

.contents {
    display: flex;
    margin-right: 2rem;
    margin-top: 20px;
    flex-direction: column;
}

.contents span {
    width: 30px;
    height: 30px;
    background: var(--text-color);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.contents span::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 31px;
    background: var(--text-color);
    bottom: 0;
    margin: -30px;
}

.contents span:last-child::after {
    height: 0 !important;
}

.overlay-main {}

.overlay-main-text-icon {
    display: flex;
    margin-top: 10px;
}

.o-icon {
    margin-right: 1rem;
    font-size: 39px;
    margin-top: -10px;
    color: var(--text-color);
}

.o-text .o-txt-1 {
    margin-left: 6px !important;
}

.o-text p {
    color: var(--text-color);
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}

.overlay-btn {
    background: var(--text-color);
    padding: 10px 45px;
    border-radius: 9px;
    cursor: pointer;
    transition: var(--delay);
}

.overlay-btn:hover {
    background: var(--linkHoverColor);
}

.overlay-btn span {
    margin: 0 !important;
    font-weight: 600;
    color: #fff;
    font-size: clamp(1vw, 5vw, 15px);
}


/*
========Product Section========*/

.product-section {
    background: #fffbf2;
    margin-top: 0 !important;
    padding: 2rem 0 4rem;
    position: relative;
}

.product-section h2 {
    font-size: 22px;
    color: var(--text-color);
    font-weight: 700;
}

.product-gallery {}

.product {
    position: relative;
    width: 250px;
    background: #fff;
    padding: 1rem;
}

.product-head {
    border-bottom: 2px solid var(--borderColor);
}

.product-head img {
    width: 232px;
}

.wishlist {
    position: absolute;
    left: 7px;
    top: 6px;
    border: 1px solid var(--borderColor);
    padding: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 6px;
    right: 7px;
}

.feature img {
    width: 40px;
    margin-bottom: -1px;
}

.discount {
    position: absolute;
    left: 13px;
    background: #fbb722;
    color: #fff;
    padding: 0px 10px;
    font-weight: 600;
    top: 226px;
}

.info {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid var(--borderColor);
    text-align: center;
    top: 220px;
    right: 0px;
}

.product-desc h4 {
    font-size: 1rem;
    margin-top: 8px;
}

.weight {
    margin-top: 15px;
}

.weight span {
    color: var(--text-color);
    font-size: 15px;
    position: relative;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}

.weight span::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 4px;
    width: 2px;
    height: 15px;
    background: var(--text-color);
}

.weight span:last-child::after {
    width: 0 !important;
}

.weight-active {
    font-weight: 700 !important;
    text-decoration: underline;
}

.product-foot {
    display: FLEX;
    align-items: CENTER;
    justify-content: space-between;
}

.price {
    font-size: 15px;
    font-weight: 600;
}

.price del {
    color: var(--text-color);
    font-style: italic;
    margin-right: 7px;
}

.price span {
    color: #fbb722;
}

.cart-option {}

.cart-option form {
    display: flex;
}

.cart-option .select-indicator{
    width: 50px;
    height: 27px;
    background: url(../img/indicator.png) no-repeat right white;
    border: 2px solid var(--borderColor);
    display: inline-block;
    border-radius: 1px;
    position: relative;
}

.cart-option form select {
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 30px;
    padding-left: 10px ;
    background: transparent;
    
}

.cart-btn {
    outline: none;
    border: none;
    width: 32px;
    height: 27px;
    background: var(--text-color);
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: -5px;
    z-index: 1;
}


/*Gaurantee include*/
.guarantee-liflet {
    width: 100px;
    background: #fff;
    text-align: center;
    padding: 10px 4px;
    box-shadow: 0 1px 16px rgb(0, 0, 0, .2);
    border-radius: 20px;
    position: absolute;
    top: 35px;
    right: 10px;
}

.liflet-inner img {
    width: 100%;
}

.liflet-inner h4 {
    font-size: 13px;
}

.liflet-inner span {
    display: flex;
    justify-content: center;
}

.liflet-inner hr {
    margin: 6px 0 !important;
}


.liflet-inner span [class*=fa] {
    color: #fbb722;
    font-size: 13px;
}


/*
========Pets display========*/

.pets-gallery {
    background: var(--gray-color);
}

.pets-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.pets-col img {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    z-index: -1;
    border: 1px solid #cbd8dc;
}

.pets-col h1 {
    text-align: CENTER;
    margin-top: -30px;
    z-index: 1;
}

.pets-col a {
    padding: 3px 75px;
    background: #004959;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}


/*
==========Pets help section=========*/

.pet-help-section {
    background: #fffbf2;
}

.pet-help-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pet-help-row img {
    width: 50%;
    transform: rotate3d(0, 106, 1, 189deg);
}

.help-box {
    padding: 2rem 3rem;
    border: 1px solid var(--borderColor);
    text-align: center;
    margin: auto;
    background: #fff;
    width: 362px;
}

.help-box h2 {
    font-size: 24px;
    color: var(--linkColor);
    font-weight: 700;
}

.help-box p {
    margin-top: 3rem !important;
    font-size: 16px;
    font-weight: 700;
    color: #fbb722;
}

.help-btn {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: #fbb722;
    width: 66%;
    margin: auto !important;
    border-radius: 12px;
    color: var(--linkColor) !important;
    font-weight: 700;
    margin-top: -19px !important;
}


/*
=======Testmonial==========*/

.testmonial {
    background: #f4f5f6;
    padding: 1rem 0;
}

.testmonial h2 {
    font-size: 22px;
    color: var(--text-color);
    font-weight: 700;
    margin: 1rem 0;
}

.client-testmonial {
    width: 98%;
    max-width: 100%;
    border: 1px solid var(--borderColor);
    padding: 1rem;
    display: FLEX;
    background: #fff;
    align-items: center;
}

.left-task {
    width: 52%;
    font-style: italic;
}

.review {
    font-size: 15px;
    font-style: italic;
    text-align: left;
}

.via {
    margin-top: 10px !important;
    color: #fbb722;
}

.right-task {
    margin-left: auto;
    text-align: center;
}

.right-task img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.name {
    margin-top: 10px !important;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
}

.designation {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}


/*
========Payment Method========*/

.payment-method {
    padding: 2rem 0;
    background: #fff;
}

.payment-gateway {display: grid;grid-template-columns: repeat(6, auto);grid-gap: 89px;align-items: center;margin: auto !important;}

.payment-gateway img {
    max-width: 91%;
}


/*
=========Footer=========*/

footer {
    background: #004959;
}

.rows {
    display: flex;
}

.footer-nav-1 {}

.footer-navs h3 {
    font-size: 15px;
    color: #fff;
}

.footer-navs h3 span {
    color: #fbb722 !important;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #fff;
    margin: 0 6rem;
    width: 30%;
}

.footer-nav-1 a {
    color: #fff !important;
}

.footer-social-links .social-links {
    margin-left: 0 !important;
    margin-right: 8px !important;
}

.footer-nav-2 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-nav-2 a {
    color: #fff;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 15px;
    transition: var(--delay);
    text-align: left;
}

.footer-nav-2 a:hover {
    color: #fde2a7;
}


/*
========Newsletter========*/

.newsletter {
    padding: 1rem;
    background: #206b78;
    width: 312px;
}

.newsletter h2 {
    font-size: 17px;
    font-weight: 700;
    color: #fbb722;
}

.newsletter h4 {
    font-size: 15px;
    color: #fbb722;
    margin: 1rem 0;
}

.newsletter form {}

.newsletter form input {
    display: block;
    width: 100%;
    padding: 6px;
    background: transparent;
    outline: none;
    border: 1px solid #fbb722;
    color: #fff;
    border-radius: 2px;
}

.newsletter button {
    margin-top: 10px;
    outline: none;
    border: none;
    padding: 7px;
    width: 100%;
    border-radius: 18px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    background: #fbb722;
    cursor: pointer;
    transition: var(--delay);
}

::placeholder {
    color: #ffffff;
}

.newsletter button:hover {
    background: var(--linkHoverColor);
}

.newsletter p {
    color: #fff;
    font-size: 14px;
}

.newsletter p:first-child {
    margin: 22px 0px 10px !important;
}

.copytext {
    color: #fff;
    font-size: 14px;
    margin: -9px 4rem 0 !important;
}

/*=====================
  Login Page
=======================
*/

.log-register {
    position: relative;
}

.lg-bg {
    width: 48%;
}

/*
===== Login Section =====
*/
.log-register-wrapper {
    justify-content: space-between;
}

.login-section {}

.lg-wrapper {

    display: flex;

    flex-direction: COLUMN;

    max-width: 426px;
}

.lg-wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 49%;
    left: 0;
    background: var(--primary-bg);
    z-index: -1;
    top: 43px;
    padding: 1rem 0;
}

.login-section form {
    display: flex;
    flex-direction: column;
    width: 327px;
    max-width: 100%;
    padding-top: 1rem;
}

.login-section form input {
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    border: 2px solid var(--input-color);
    outline: none;
    color: #888;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}


.lg-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.lg-action button {
    padding: 5px 43px !important;
}

.lg-action a {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
}

.lg-red-txt {
    font-size: 14px;
    color: var(--text-color);
    font-style: italic;
    font-weight: 500;
}

.lg-option-title {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

.lg-social {
    padding: 1rem 0 4rem;
    display: flex;
}

.lg-round {
    height: 27px;
    width: 114px;
    max-width: 100%;
    margin-right: 11px;
    border-radius: 12px;
    display: flex;
    align-items: CENTER;
    justify-content: CENTER;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: var(--delay);
}

.lg-round [class*=fa] {
    margin-right: 4px;
}

.lg-round:hover {
    opacity: 0.8;
    color: #fff !important;
}


/*
========= Register========*/

.register-section {}

.reg-inner {
    padding-left: 2rem;
}

.reg-head {

    width: 361px;

    max-width: 100%;

    padding: 1rem 0 2rem;
}

.reg-head p {}

.reg-head button {

    margin: 3rem 0 4px;
}

.reg-inner::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 49%;
    right: 0;
    background: var(--primary-bg);
    z-index: -1;
    top: 43px;
    padding: 1rem 0;
}

.reg-inner p {
    color: var(--text-color);
    line-height: 1.3;
    font-size: 15px;
}





/*
===================
  register page
===================  
*/

.register {
    background: var(--primary-bg);
}

.register-inner {
    width: 350px;
    max-width: 100%;
    padding: 2rem 0;
}

.reg-social-option {}

.reg-social-option p {}

.reg-social {
    padding-top: 8px;
}

.reg-social a [class*=fa] {
    margin-right: 4px;
}


/*
======= register form======*/

.reg-form {}

.reg-form input::placeholder,
.lg-wrapper input::placeholder {
    color: var(--placeholder-color);
}

.reg-form input {
    margin: 10px 0;
}

.reg-form input[type='text'],
.reg-form input[type='email'],
.reg-form input[type='password'] {
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    border: 2px solid var(--input-color);
    outline: none;
    color: #888;
    font-size: 15px;
    font-weight: 400;
}

.reg-form-group {
    display: flex;
    flex-direction: column;
}

.reg-form-check input {
    margin-right: 6px;
}

.reg-form-check label {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
}

.reg-captcha {}

.reg-verification-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg-verification-code img {
    width: 60%;
    max-width: 60%;
}

.reg-verification-code button {
    outline: none;
    border: none;
    background: #fddb91;
    font-size: 16px;
    color: var(--text-color);
    padding: 1px 23px;
    border-radius: 6px;
    line-height: 1;
    height: 42px;
    cursor: pointer;
}

.reg-btn {
    margin-top: 2rem;
}

.req-txt {
    font-size: 13px;
    margin-top: 7px !important;
    color: var(--text-color);
    font-weight: 500;
}

.reg-psw-txt {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 10px !important;
}